.aboutContainer {
  max-width: 100%;
  margin-bottom: 1.45rem;
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto;
}

.aboutLeft {
  width: 150%;
}

.aboutRight {
  float: right;
}

.aboutRight h2 {
  color: #007AFF;
}
